body {
    font-size: 12pt;
    font-family: sans-serif;
}

input[type=text], input[type=password], textarea {
    border: solid 1px silver;
    font-size: inherit;
    font-family: inherit;
}

.form-row {
    display: block;
}

.form-row.v-invalid {
    color: #C00;
}

.form-row label span {
    display: block;
}

.form-row.v-invalid input[type=text],
.form-row.v-invalid input[type=password],
.form-row.v-invalid textarea {
    border-color: red;
    color: #C00;
}

.form-row label span.v-validator {
    display: none;
}

.form-row label span.v-validator.v-active {
    display: inline;
}
